*{
    margin: 0;
    padding: 0;
}
.look{
    position: absolute;
    margin: 70px 0 0 130px;
    width: 30px;
    height: 30px;
    left: 2px;

}
.daf{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px 0 0 650px;
}
.left{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 220px 0 0 650px;
}
.keep{
    position: absolute;
    margin: 310px 0 0 650px;
}